@import './variables.scss';

%title {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 44px;
  @include breakpoint(max-extra-small) {
    font-size: 30px;
    line-height: 40px;
  }
}

%subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  @include breakpoint(max-extra-small) {
    font-size: 14px;
    line-height: 20px;
  }
}

%button-label {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  @include breakpoint(max-extra-small) {
    font-size: 14px;
    line-height: 19px;
  }
}

%input {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  @include breakpoint(max-extra-small) {
    font-size: 14px;
    line-height: 19px;
  }
}

%semantic {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  @include breakpoint(max-extra-small) {
    font-size: 13px;
    line-height: 16px;
  }
}

.text-title-regular {
  @extend %title;
  color: $color-secondary;
}

.text-subtitle {
  @extend %subtitle;
  color: $color-secondary;
}

.text-button-regular {
  @extend %button-label;
  color: $color-accent-contrast;
}

.text-button-disabled {
  @extend %button-label;
  color: $color-secondary-50;
}

.text-label {
  @extend %button-label;
  color: $color-neutral-dark;
}

.text-placeholder {
  @extend %input;
  color: $color-accent-light;
}

.text-input {
  @extend %input;
  color: $color-secondary;
}

.text-select {
  @extend %input;
  color: $color-neutral-dark;
}

.text-danger {
  @extend %semantic;
  color: $color-danger;
}
