@import 'styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: calc(1.12*var(--space-lg));
  }

  &__group {
    margin-bottom: var(--space-lg);
  }
}

.header {
  &__title {
    margin: 0 0 8px 0;
  }

  &__subtitle {
    margin: 0;
  }

  &__subtitle-link {
    margin-left: 6px;
  }
}