@import 'styles/variables.scss';

.checkbox {
  $self: &;
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: 2px 0 5px 0;
  cursor: pointer;

  &__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &__box {
    width: calc(1.4*var(--space-md));
    height: calc(1.4*var(--space-md));
    background-color: $color-secondary-contrast;
    box-shadow: $input-box-shadow, $input-regular-border-shadow;
    border-radius: $small-border-radius;
    background: url(../assets/images/checked.svg) center center no-repeat;
    background-size: 0px 0px;

    #{$self}__input:focus + & {
      box-shadow: $input-box-shadow, $input-focus-border-shadow;
      @include default-transition(box-shadow);
    }

    #{$self}__input:checked + & {
      background-size: calc(1.3*var(--space-sm)) var(--space-md);
      @include default-transition(background-size);
    }
  }
}