@import 'styles/variables.scss';

.select-option {
  padding: var(--space-sm) calc(1.33*var(--space-sm));
  cursor: pointer;
  list-style-type: none;

  &:first-child {
    border-radius: $default-border-radius 0 0 0;
  }

  &:last-child {
    border-radius: 0 0 0 $default-border-radius;
  }

  &--selected {
    background-color: $color-accent;
    color: $color-accent-contrast;
  }

  &--highlighted {
    background-color: $color-accent-contrast;
  }
}