@import 'styles/variables.scss';

.paper {
  max-width: 460px;
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: $big-border-radius;
  box-shadow: $paper-box-shadow;
  background-color: $color-secondary-contrast;

  &__form {
    padding: 40px 30px;
  }
}