@import 'styles/variables.scss';

.select {
  $self: &;
  position: relative;
  pointer-events: none;

  &:before {
    content: '';
    width: 16px;
    height: 9px;
    background: url(../assets/images/bottom-arrow-chevron.svg) center center no-repeat;
    position: absolute;
    top: -30px;
    right: 18px;
    @include default-transition(transform);
    @include breakpoint(max-extra-small) {
      height: 13px;
    }
  }

  &__dropdown {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    margin-top: 4px;
    padding: 1px;
    width: 100%;
    height: 0;
    opacity: 0;
    box-shadow: $input-regular-border-shadow, $dropdown-box-shadow;
    border-radius: $default-border-radius;
    background-color: $color-secondary-contrast;
    @include default-transition(height, opacity);

    &-list {
      max-height: 0;
      overflow-y: auto;
      padding: 0;
      margin: 0;

      &::-webkit-scrollbar {
        width: 12px;
      }

      &::-webkit-scrollbar-thumb {
        border: 3px solid transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        border-radius: 9999px;
        background-color: $color-neutral-light;
      }
    }
  }

  &--open {
    &:before {
      transform: rotate(-180deg);
      @include default-transition(transform);
    }

    #{$self}__dropdown {
      height: 200px;
      opacity: 1;

      &-list {
        max-height: 100%;
      }
    }
  }
}
