@import 'styles/variables.scss';

.paper {
  width: 460px;
  margin: 50vh auto;
  transform: translateY(-50%);
  border-radius: $big-border-radius;
  box-shadow: $paper-box-shadow;
  background-color: $color-secondary-contrast;

  &__form {
    padding: 40px 30px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__header {
    margin-bottom: 58px;
  }

  &__group {
    margin-bottom: 34px;
  }
}

.header {
  &__title {
    margin: 0 0 8px 0;
  }

  &__subtitle {
    margin: 0;
  }

  &__subtitle-link {
    margin-left: 6px;
  }
}

.input-group {
  display: -ms-grid;
  display: grid;
  position: relative;

  &__label {
    margin-bottom: 7px;
  }

  &__message {
    position: absolute;
    bottom: -26px;
  }
}
